AddDefaultCharset utf8
<IfModule mod_rewrite.c>
    RewriteEngine On 
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) index.php [L]
</IfModule>
#AddDefaultCharset utf8
#RewriteEngine on
#RewriteCond $1 !^(index\.php|backend\.php|codex|js|img|css|robots\.txt)
#RewriteRule ^(.*)$ /index.php/$1 [L]